DATABASE_URL="postgres://username:password@ep-rest-of-host.region.aws.neon.tech/dbname?sslmode=require"

# Credenciais do Painel de Administração
ADMIN_USERNAME="seu_usuario_admin_aqui"
ADMIN_PASSWORD="sua_senha_admin_aqui"
